.app-wrapper {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.content {
	display: flex;
	flex: 1;
}


.main-content {
	flex: 1;
}

.sidebar {
	flex: 0 0 250px;
	order: -1;
	background-color: #FAFAFA;
}
